body{
    background-color: #eee;


}

.dropdown-btn{
    background-color: #4C4F50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border:none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.8);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: lightgrey;

}

.dropdown:hover .dropdown-btn{
    background-color: lightslategrey;
}

.dropdown:hover .dropdown-content{
    display: block;
}